body {
  background: #fff;
  margin: 0;
}

h1, p {
    margin: 0;
}

  <button onclick="alert(hello)">Click Here</button>

header, footer {
    background: #3498db;
}

nav li {
    display: inline-block;
    padding: 1em;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content section {
    padding: 1em;
    flex: 1 1 25%;
    width: 25%;
}

nav li {
    padding: 1em;
    display: inline-block;

}

/* Media Queries */
@media (max-width: 600px) {
    .content section {
        flex: 1 1 50%;
        width: 50%;
    }
}

@media (max-width: 900px) {

}
